@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Tilt Neon', cursive;
    letter-spacing: 2px;
}
.head{
    width: 100vw;
    height: 80px;
    background-color: rgba(133, 27, 27, 0.836);
    padding: 5px 10px;
    border-bottom: 5px solid rgb(218, 45, 174);
}
.head_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px;
}
.head_container__1{
    width: 50%;
    align-self:last baseline;
}
.head_container__2{
    width: 50%;
}
.head_container__2_ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.head_ul__li{
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    transition: 1s auto;
}
.head_ul__li:hover{

}
.head_ul__li_button{
font-size: 17px;
    padding: 4px 12px;
    border: transparent;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    color: currentColor;
}
.about_companey{
    width: 100vw;
    min-height: 500px;
    display: flex;
    border-bottom: 5px solid orange;
}

#aboutimage {
    width: 100%;
}

.companey_left{
    background-color: rgb(223, 156, 70);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 90px;
    padding-right: 30px;
}
.companey_right{
    width: 50%;
    /* background: url('./Assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    border-left: 5px solid purple;
}
.c_h1{
    font-size: 40px;
    font-weight: bolder;
    font-style: normal;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.c_p{

    font-size: 17px;
    font-weight: 500;

}
.c_hr{
    width: 15em;
    height: 5px;
    background: rgb(51, 255, 0);
    border: none;
    margin-bottom: 20px;
}
.cta{
    width: 100vw;
    height: 150px;
    background-color: rgb(0, 140, 255);
}
.cta_container{
    display: flex;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid rgb(229, 255, 0);
}
.cta_text{
    width: 70%;
    background-color: rgb(26, 56, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: 70px;
    padding-right: 20px;
    border-right: 5px solid red;
}
.cta_text p{
    
}
.cta_button{
   display: flex;
   align-items: center;
   justify-content: center; 
   width: 30%;
}
a{
    text-decoration: none;
    color: black;
}
.cta_button a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    background-color: black;
    padding: 7px 15px;
    color: white;
    border-radius: 3px;
}
footer{
    width: 100vw;
    height: 50px;
    background-color: aquamarine;

}
footer .content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
footer .content h4{
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
}

/* responsive styles */

@media screen and (max-width: 600px) {
    /* header section */
    .head {
        height: 200px;
    }
    
    .head_container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0px 10px;
    }

    .head_container__1, .head_container__2 {
        width: 100%;
    }
    
    .head_container__2_ul{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    /* about company section */
    .about_companey {
        flex-direction: column;
    }

    .companey_right, .companey_left {
        width: 100%;
    }
  }